/*
========================================
Reset
========================================
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    border-collapse: collapse;
}

:root {
    font-size: 1em;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
========================================
Placement
========================================
*/

/*https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties*/
:root {
    --color: rgba(156, 64, 49, 1);
    --dashoffset-start: 0;
    --dashoffset-end: 1000;
    --dasharray-num: 500;
    
}

@font-face {
    font-family: 'FashionFetish';
    src: url('../fonts/Fashion Fetish Regular');
    src: url('../fonts/Fashion Fetish Regular.ttf') format('embedded-opentype'), url('../fonts/Fashion Fetish.ttf') format('ttf'), url('../fonts/Fashion Fetish Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ferghaus';
    src: url('../fonts/Ferghaus Sans DEMO');
    src: url('../fonts/Faerghaus Sans DEMO.ttf') format('embedded-opentype'), url('../fonts/Ferghaus Sans DEMO.otf') format('otf'), url('../fonts/Ferghaus Sans DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ddd2bc;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Ferghaus;
    z-index: -2;
}

h2 {
    font-family: FashionFetish;
    z-index: -1;
}

.textbox {
    position: relative;
    text-align: center;
    bottom: 0.7vh;
}

.textbox h1 {
    position: absolute;
    bottom: 5%;
    right: 0;
    font-size: 33vw;
    font-weight: 500;
    color: var(--color);
    transition: color .3s;
}

.textbox h2 {
    color: #fff;
    background-color: #000;
    font-size: 5vw;
    font-weight: 800;
    letter-spacing: 2.1vw;
    padding: 0.5vw 0vw;
}

.sliders-container { 
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  position: absolute;
}

.sliders-container input + input { 
  margin: 2vh 0 0 0;
}


svg {
    transition: all 2s;
    z-index: 100;
}

svg #man-fill,
svg #car-fill,
svg #woman-fill,
svg #flowers-fill {
    transform: translate(14.22px, -0.73px);
}

svg #ca-man path,
svg #ca-woman path,
svg #ca-car path,
svg #ca-flowers path {
    fill: var(--color);
    transition: fill .3s;
    stroke: none;
    transform: translate(-197.2px, -137.2px);
}

svg #man-fill path,
svg #woman-fill path,
svg #flowers-fill path,
svg #car-fill path {
    transition: fill .5s ease ;
    fill: var(--color);
    opacity: 0;
}

.flipHeadFill{
    transform-origin:center;
    transform: translateX(-27%) translateY(-17%) rotateY(-180deg);
}

.flipHead {
    transform-origin:center;
    transform: translateX(-39%) rotateY(-180deg);
}

svg path {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/*https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Fills_and_Strokes*/
svg g {
	stroke-dasharray: var(--dasharray-num);
	stroke-dashoffset: 1000;
	animation: dash 5s ease infinite;
    stroke: #000;
    stroke-width:2.5px;
    fill: none;
}

/*
.stop-animation {
    animation-play-state: paused;
}
*/

/*https://css-tricks.com/svg-line-animation-works/*/
@keyframes dash {
    from {
        stroke-dashoffset: var(--dashoffset-start);
    }
    to {
        stroke-dashoffset: var(--dashoffset-end);
    }
}

svg #woman #lower-arm{
    stroke: #000;
    stroke-width:2.5px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

svg g g:first-child {
    stroke: none;
}

svg g #woman-fill path:hover,
svg g #man-fill path:hover,
svg g #flowers-fill path:hover,
svg g #car-fill path:hover {
    fill: rgba(156, 64, 49, 0.5);
}

@media only screen and (max-width: 500px) {
    body {
        overflow: hidden;
    }

    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 100vw;
        height: 100vh;
    }

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
        height: 60vh;
        overflow: visible;
    }
    
    svg #woman, #man, #flowers, #car {
        transform: translateX(100vw);
    }

    .textbox {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        height: 100vh;
        position: relative;
        top: 0;
    }

    .textbox h1 {
        position: absolute;
        top: 2vh;
        font-size: 30vw;
        margin: 0 4.9vw;

    }

    .textbox h2 {
        padding: 0 3vw;
    }
}