/*
========================================
Reset
========================================
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    border-collapse: collapse;
}

:root {
    font-size: 1em;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
========================================
Placement
========================================
*/

@font-face {
    font-family: 'FashionFetish';
    src: url('../fonts/Fashion Fetish Regular');
    src: url('../fonts/Fashion Fetish Regular.ttf') format('embedded-opentype'), url('../fonts/Fashion Fetish.ttf') format('ttf'), url('../fonts/Fashion Fetish Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ferghaus';
    src: url('../fonts/Ferghaus Sans DEMO');
    src: url('../fonts/Faerghaus Sans DEMO.ttf') format('embedded-opentype'), url('../fonts/Ferghaus Sans DEMO.otf') format('otf'), url('../fonts/Ferghaus Sans DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Ferghaus;
    z-index: -2;
}

h2 {
    font-family: FashionFetish;
    z-index: -1;
}

.textbox {
    position: relative;
    text-align: center;
    bottom: 0.7vh;
}

.textbox h1 {
    position: absolute;
    bottom: 5%;
    right: 0;
    font-size: 33vw;
    font-weight: 500;
    color: #c91e11;
}

.textbox h2 {
    color: #fff;
    background-color: #000;
    font-size: 5vw;
    font-weight: 800;
    letter-spacing: 2.1vw;
    padding: 0.5vw 0vw;
}

svg {
    transition: all 2s;
    z-index: 100;
}

svg path {
    fill: rgba(0, 200, 0,1);
    outline-color: rgb(0, 0, 200, 0);
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 0px;
}

svg #woman:hover {
    stroke-dasharray: 1000;
    animation: dash 1s ease alternate infinite;
}

svg #man:hover {
    stroke-dasharray: 1000;
    animation: dash 1s ease alternate infinite;
}

svg #car:hover {
    stroke-dasharray: 1000;
    animation: dash 1s ease alternate infinite;
}

svg #flowers:hover {
    stroke-dasharray: 1000;
    animation: dash 1s ease alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 1000;
    }
}

@media only screen and (max-width: 500px) {
    body {
        overflow: hidden;
    }

    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 100vw;
        height: 100vh;
    }

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
        height: 60vh;
        overflow: visible;
    }
    
    svg #woman, #man, #flowers, #car {
        transform: translateX(100vw);
    }

    .textbox {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        height: 100vh;
        position: relative;
        top: 0;
    }

    .textbox h1 {
        position: absolute;
        top: 2vh;
        font-size: 30vw;
        margin: 0 4.9vw;

    }

    .textbox h2 {
        padding: 0 3vw;
    }
}

path {
  stroke: #000;
    stroke-width:2px;
    fill: none;
}