/*
========================================
Reset
========================================
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    border-collapse: collapse;
}

:root {
    font-size: 1em;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
========================================
Placement
========================================
*/

/*https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties*/
:root {
    --color: rgba(156, 64, 49, 1);
    --dasharray-num: 550;
}

@font-face {
    font-family: 'FashionFetish';
    src: url('../fonts/Fashion Fetish Regular');
    src: url('../fonts/Fashion Fetish Regular.ttf') format('embedded-opentype'), url('../fonts/Fashion Fetish.ttf') format('ttf'), url('../fonts/Fashion Fetish Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ferghaus';
    src: url('../fonts/Ferghaus Sans DEMO');
    src: url('../fonts/Faerghaus Sans DEMO.ttf') format('embedded-opentype'), url('../fonts/Ferghaus Sans DEMO.otf') format('otf'), url('../fonts/Ferghaus Sans DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ddd2bc;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.overflow {
    position: absolute;
    overflow: hidden;
}

/*
========================================
Text
========================================
*/

h1 {
    font-family: Ferghaus;
    z-index: -2;
}

h2 {
    font-family: FashionFetish;
    z-index: -1;
}

p:nth-of-type(1) {
    font-family: FashionFetish;
    font-size: 1em;
    margin: 0 0 0.5em;
}

p:nth-of-type(2) {
    font-family: FashionFetish;
    font-size: 1em;
    margin: 1em 0 0.5em;
}

.textbox {
    position: relative;
    text-align: center;
    bottom: 0.5vh;
}

.textbox h1 {
    position: absolute;
    bottom: 5%;
    right: 0;
    font-size: 33vw;
    font-weight: 500;
    color: var(--color);
    transition: color .3s;
}

.textbox h2 {
    color: #fff;
    background-color: #000;
    font-size: 5vw;
    font-weight: 800;
    letter-spacing: 2.1vw;
    padding: 0.5vw 0vw;
    transition: all .3s ease;
}

.textbox h2:hover {
    transform: scale(1.1); 
}

/*
========================================
Controls
========================================
*/

.controls {
    position: absolute;
    margin: 5vh auto 0;
    top: 0;
    z-index: 20;
}

.sliders-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliders-container input + input { 
    margin: 2vh 0 0 0;
}

.slider-container input:nth-of-type(1) {
    width: 100px;
}

input[type=range] {
/*    https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
/*Bron voor HTML opbouw van een slider en prevent default stijl*/
    -webkit-appearance: none;
    width: 100%;
    height: 1.2em;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 1em;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.4em;
    border: 2px solid rgba(0, 0, 0, 1);;
    border-radius: 50%;
    height: 1.4em;
    background: var(--color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1.2em;
    border-radius: 50%;
    height: 1em;
    background: var(--color);
    cursor: pointer;
}

input[type=range]:hover,
input[type=range]:active{
    background-color: rgba(0, 0, 0, 0.2);
}

input[type=color] {
    width: 100%;
}

/*
========================================
SVG
========================================
*/

svg {
    z-index: 10;
}

svg #man-fill,
svg #car-fill,
svg #woman-fill,
svg #flowers-fill {
    transform: translate(14.22px, -0.73px);
}

svg #ca-man path,
svg #ca-woman path,
svg #ca-car path,
svg #ca-flowers path {
    fill: var(--color);
    transition: fill .3s;
    stroke: none;
    transform: translate(-197.2px, -137.2px);
}

svg #man,
svg #woman,
svg #flowers,
svg #car,
svg #man-fill path,
svg #woman-fill path,
svg #flowers-fill path,
svg #car-fill path,
svg #ca-man path,
svg #ca-woman path,
svg #ca-flowers path,
svg #ca-car {
    transition: transform .5s ease,
                fill .5s ease;
}

svg #man:hover,
svg #woman:hover,
svg #flowers:hover,
svg #car:hover,
h1:hover {
    cursor: pointer; 
}

svg #man #head-fill {
    transition: transform 0s linear,
                fill .5s ease;
}

svg #flowers #flowers-fill #bell-open-fill,
svg #flowers #flowers-fill #bell-closed-fill {
    transition: transform 0s linear,
                fill .5s ease;
}

.flipHeadFill{
    transform-origin:center;
    transform: translateX(-30.5%) translateY(-17%) rotateY(-180deg);
}

.flipHead {
    transform-origin:center;
    transform: translateX(-41.82%) rotateY(-180deg);
}

.rotateArm {
    transform-origin: center;
    transform: rotate(-9deg) translateY(-12.5%) translateX(0.5%); 
}

/*https://cubic-bezier.com/#.4,-0.4,.5,1.05*/
svg #car {
    transition: transform 3s cubic-bezier(.4,-0.4,.5,1.05);
}

#car.carLeft {
    transform-origin: center; 
    transform: translateX(-19%);
}

    #car.carLeftSmall {
    transform-origin: center; 
    transform: translateX(-3%);
}

svg #flowers #flower-paths {
    transition: transform .5s ease;
}

.flowerDingleOpen {
    transform-origin: center;
    transform: rotate(-14.3deg) translateX(-2.1%) translateY(-18%);
}

.flowerDingleClosed {
    transform-origin: center;
    transform: rotate(14.3deg) translateX(3.6%) translateY(22%);
}

.flowerDingleOpenFill {
    transform-origin: center;
    transform: rotate(-14.3deg) translateX(-15.3%) translateY(-35%);
}

.flowerDingleClosedFill {
    transform-origin: center;
    transform: rotate(14.3deg) translateX(-9.6%) translateY(5.8%);
}

svg path {
    fill: rgba(0, 0, 0, 0);
    stroke-linecap: round;
    stroke-linejoin: round;
}

/*https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Fills_and_Strokes*/
svg g {
	stroke-dasharray: var(--dasharray-num);
	stroke-dashoffset: 0;
	animation: dash 5s ease alternate infinite;
    stroke: #000;
    stroke-width:2.5px;
    fill: rgba(0, 0, 0, 0);
}

/*https://css-tricks.com/svg-line-animation-works/*/
@keyframes dash {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 1101;
    }
}

@keyframes dashStop {
    to {
        stroke-dashoffset: 0;
    }
}

svg > g > g:nth-child(1) {
    stroke: none;
}

svg #woman:hover #woman-fill path,
svg #man:hover #man-fill path,
svg #flowers:hover #flowers-fill path,
svg #car:hover #car-fill path {
    fill: rgba(0, 0, 0, 0.2);
}

svg #woman:hover g,
svg #man:hover g,
svg #flowers:hover g,
svg #car:hover g {
    animation-iteration-count: 0;
}

/*
========================================
Media Query
========================================
*/

@media only screen and (max-width: 500px) {
    body {
        overflow: hidden;
    }

    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .wrapper {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
        height: 60vh;
    }
    
    svg #woman, #man, #flowers, #car {
        transform: translateX(60vw);
    }

    .textbox {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        height: 100vh;
        position: relative;
        top: 0;
    }

    .textbox h1 {
        position: absolute;
        top: 2vh;
        font-size: 30vw;
        margin: 0 4.9vw;

    }

    .textbox h2 {
        padding: 0 3vw;
    }
}